html,
body {
  height: 100%;
}

body {
  background-color: $background;
  color: $default;
  font-size: 20px;
  line-height: 1.5;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.title-global {
  display: none;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.base-link {
  font-size: 20px;
  line-height: 1.5;
  text-decoration-line: underline;
  color: $title;
  transition: 0.33s;

  &:focus,
  &:hover,
  &:active {
    text-decoration-line: none;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }

  &:hover {
    color: $accent;
  }

  &:active {
    transition: 0.15s;
    color: $default;
    text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
  }
}