$orange-900: #ff6838;
$orange-100: #FFF2ED;
$silver-200: #ececec;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;
$silver-100: #f9faff;

$Rubik: 'Rubik';


%pos-background {
  position: absolute;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%hover-color {
  filter: invert(42%) sepia(68%) saturate(858%) hue-rotate(332deg) brightness(108%) contrast(101%);
}

%active-color {
  filter: invert(11%) sepia(5%) saturate(7%) hue-rotate(338deg) brightness(91%) contrast(82%);
}