$accent: #FF6838;
$default: #31352B;
$title: #363853;
$background: #F9FAFF;

%rubik-300{
  font-family: 'Rubik-Light';
  font-weight: 300;
}

%rubik-400{
  font-family: 'Rubik-Regular';
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium';
  font-weight: 500;
}

%rubik-700{
  font-family: 'Rubik-Bold';
  font-weight: 700;
}
