@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.title,
.header__title {
  @extend %rubik-500;
  line-height: 1.3;
}

.btn-base {
  @extend %rubik-400;
  line-height: 1.3;
  background-color: $accent;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}

.base-link {
  font-size: 20px;
  line-height: 1.5;
  text-decoration-line: underline;
  color: $title;
}

.title {
  font-size: 36px;
  color: $title;
}

.header {
  padding: 57px 0;
  height: 100vh;

  &__inner,
  &__items,
  &__nav,
  &__icons,
  &__content {
    display: flex;
  }

  &__inner,
  &__nav {
    align-items: center;
  }

  &__inner {
    justify-content: space-between;
  }

  &__items {
    margin-right: 52px;
    font-size: 18px;
  }

  &__item:not(:last-child) {
    margin-right: 44px;
  }

  &__icon {
    width: 44px;
    height: 44px;
    position: relative;
  }

  &__icon--search::before,
  &__icon--cart::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 11px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__icon--search::before {
    background-image: url('../images/header_icons/search.svg');
  }

  &__icon--cart::before {
    background-image: url('../images/header_icons/cart.svg');
  }

  &__icon:not(:last-child) {
    margin-right: 10px;
  }

  &__icon-num {
    position: absolute;
    font-size: 10px;
    line-height: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 6px;
    right: 4px;
    text-align: center;
    background-color: $accent;
    color: #fff;
  }

  &__content {
    padding: 60px 0 120px;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  &__wrap {
    max-width: 450px;
  }

  &__images {
    background-image: url('../images/bg/scooter-guy.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-size: 66px;
    color: $title;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__title--accent {
    color: $accent;
  }

  &__info {
    font-weight: 300;
  }

  &__click {
    margin-top: 20px;
  }

  &--btn-base {
    width: 146px;
    height: 47px;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.3;
    margin-right: 34px;
  }
}

.menu {
  padding: 40px 0 120px;
  text-align: center;

  &__inner {
    margin-bottom: 45px;
  }

  &--title {
    margin-bottom: 60px;
    text-align: center;
  }

  &__filters {
    display: flex;
  }

  &__btn {
    height: 70px;
    background-color: #FFF;
    border-radius: 5px;
    font-size: 20px;
    line-height: 1.3;
    color: $title;
    padding: 22px 32px 22px 86px;
    position: relative;
  }

  &__btn--burger::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url('../images/menu/icons/burger.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 14px;
    left: 32px;
  }

  &__btn::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    top: 14px;
    left: 32px;
  }

  &__btn--pizza::before {
    background-image: url('../images/menu/icons/pizza.svg');
  }

  &__btn--sandwich::before {
    background-image: url('../images/menu/icons/sandwich.svg');
  }

  &__btn--asia::before {
    background-image: url('../images/menu/icons/asia.svg');
  }

  &__btn--dish::before {
    background-image: url('../images/menu/icons/dish.svg');
  }

  &__filter:not(:last-child) {
    margin-right: 20px;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding-bottom: 60px;
  }

  &__item,
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: 210px;
    height: 299px;
    padding: 170px 0 20px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #ECECEC;
    text-align: center;
    position: relative;
  }

  &__item-foto {
    position: absolute;
    top: 20px;
  }

  &__item-title {
    font-size: 15px;
    line-height: 18px;
  }

  &__price {
    font-size: 15px;
    line-height: 1.4;
    @extend %rubik-500;
    margin-bottom: 10px;
  }

  &--btn-base {
    padding: 7px 16px;
    width: 101px;
  }
}

.footer {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 60px;
  }

  &__input-email {
    display: block;
    margin: 30px auto 12px;
    background-color: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    width: 200px;
    height: 44px;
    font-size: 14px;
    line-height: 130%;
    color: #C2C2C2;
    opacity: 0.9;
    padding-left: 15px;
  }

  &__top-items {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(50px, auto));
    grid-row-gap: 20px;
    grid-column-gap: 70px;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.01em;
  }

  &__bottom {
    padding: 30px 0;
    border-top: 1px solid rgba(194, 194, 194, 0.2);
    border-top-color: 0.8;
    text-align: center;
    font-size: 14px;
    line-height: 100%;
  }

  &__bottom-info {
    opacity: 1;
    color: #31352B;
  }

  &--btn-base {
    position: relative;
    width: 200px;
    height: 44px;
    border-radius: 5px;
  }

  &--btn-base::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url('../images/footer_icons/send-btn.svg');
    left: 25px;
  }
}

.social {
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.01em;
  margin-right: 77px;

  &__item {
    padding-left: 30px;
    position: relative;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__contact::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 4px;
  }

  &__contact--location::before {
    background-image: url('../images/footer_icons/location.svg');
  }

  &__contact--phone::before {
    background-image: url('../images/footer_icons/calling.svg');
  }

  &__contact--email::before {
    background-image: url('../images/footer_icons/message.svg');
  }

  &__icons {
    display: flex;
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: #ECECEC;
    background-position: center;
  }

  &__link:not(:last-child) {
    margin-right: 13px;
  }

  &__link--facebook {
    background-image: url('../images/footer_icons/ic-facebook.svg');
  }

  &__link--twitter {
    background-image: url('../images/footer_icons/ic-twitter.svg');
  }

  &__link--instagram {
    background-image: url('../images/footer_icons/ic-instagram.svg');
  }
}

.logo:focus,
.header__item-link:focus,
.header__icon:focus,
.btn-base:focus,
.base-link:focus,
.menu__btn:focus,
.footer__input-email:focus,
.footer__top-link:focus,
.menu__item:hover {
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  border-radius: 5px
}

.logo {
  transition: 0.25s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.header {
  &__item-link {
    transition: 0.35s;

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
  }

  &__icon {
    transition: 0.3s;

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
    }

    &:hover {
      border-radius: 5px;
      background-color: #FF7A50;
    }

    &--search:hover::before {
      transition: 0.45s;
      background-image: url('../images/header_icons/search-white.svg');
    }

    &--cart:hover::before {
      background-image: url('../images/header_icons/cart-white.svg');
    }

    &-num:hover {
      background-color: #fff;
      color: $accent;
    }

    &:active {
      background-color: #FFF2ED;
      box-shadow: none;
    }

    &--search:active::before {
      transition: 0.45s;
      background-image: url('../images/header_icons/search.svg');
    }

    &--cart:active::before {
      background-image: url('../images/header_icons/cart.svg');
    }
  }
}

.btn-base {
  transition: 0.33s;

  &:focus,
  &:hover,
  &:active {
    background-color: rgba(255, 122, 80, 0.1);
  }

  &:focus {
    color: $accent
  }

  &:hover {
    box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2),
      0 0 0 2px rgba(255, 104, 56, 0.7);
    color: $accent
  }

  &:active {
    box-shadow: none;
  }
}

.base-link {
  transition: 0.33s;

  &:focus,
  &:hover,
  &:active {
    text-decoration-line: none;
  }

  &:hover {
    color: $accent;
  }

  &:active {
    transition: 0.15s;
    color: $default;
    text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
  }
}

.menu {
  &__btn {
    transition: 0.3s;

    &:focus,
    &:hover,
    &:active {
      text-decoration-line: none;
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:active {
      transition: 0.2s;
      background: #FFFFFF;
      box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
    }

    &--active {
      background-color: $accent
    }
  }

  &__item:hover {
    transition: 0.30s;
    background-color: #FFF
  }
}

.footer {
  &__input-email {

    transition: 0.2s;

    &:focus {
      outline: none;
    }

    &:hover {
      box-shadow: none;
      color: $default;
    }
  }

  &--btn-base::before {

    // footer--btn-base -- не работает focus,hover,active для icon, и логoтип в footer не работает так же как в header (focus,hover,active), И глобальная проблема: как менять цвет svg объектов при эффектах (focus,hover,active)
    &:focus,
    &:hover,
    &:active {
      background-image: url('../images/footer_icons/send-btn-active.svg');
    }
  }

  &__top-link {
    transition: 0.35s;

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
  }
}

.social__link {
  transition: 0.3s;

  &:focus {
    transition: 0.2s;
    background-color: #FFF2ED;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:hover {
    background-color: #FF7A50;
  }

  &:active {
    background-color: #FFF2ED;
    box-shadow: none;
  }
}


@import 'media';