@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'mixin';
@import 'global';

.header {
  padding: 56px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
  }

  &__wrap {
    display: flex;
    gap: 50px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 97px;
  }

  &__icon {
    width: 44px;
    height: 44px;
    position: relative;
    transition-duration: 0.3s;

    &:focus,
    &:hover,
    &:active {
      border-radius: 5px;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: $orange-900;
    }

    &:active {
      background-color: $orange-100;
      box-shadow: none;
    }

    &--search::before,
    &--cart::before {
      @extend %pos-background;
      width: 20px;
      height: 20px;
      top: 12px;
      left: 11px;
    }

    &--search {
      &::before {
        background-image: url('../images/header_icons/search.svg');
      }

      &:hover::before,
      &:active::before {
        transition-duration: 0.45s;
        @extend %active-color;
      }
    }

    &--cart {
      &::before {
        background-image: url('../images/header_icons/cart.svg');
      }

      &:hover::before,
      &:active::before {
        transition: 0.45s;
        @extend %active-color;
      }
    }
  }

  &__num {
    position: absolute;
    font-size: 10px;
    line-height: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 8px;
    right: 4px;
    text-align: center;
    background-color: $orange-900;
    color: $silver-100;

    &:hover {
      background-color: $silver-100;
      color: $orange-900;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 305px;
  justify-content: space-between;

  &__link {
    transition-duration: 0.35s;

    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px
    }

    &:hover {
      color: $orange-900;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
  }
}

.hero {
  &__contant {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 125px;

    & p {
      margin-bottom: 30px;
      @include line-clamp(3);
    }
  }

  &__inner {
    max-width: 450px;
  }

  &__bg {
    width: 550px;
    height: 660px;
    background-size: cover;
    // отступ нужен для соответсвия PP
    margin-right: 10px;
  }

  &__title {
    font-weight: 500;
    line-height: 1.3;
    font-size: 66px;
    color: $darkBlue-900;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include line-clamp(2);
    max-width: 500px;
  }

  &__accent {
    color: $orange-900;
  }

  &__scroll {
    margin-right: 30px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    transition-duration: 0.33s;
  }
}

.popular {
  text-align: center;
  margin-bottom: 120px;

  &__inner {
    margin-bottom: 45px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__filters {
    display: flex;
  }

  &__btn {
    background-color: #FFF;
    border-radius: 5px;
    font-size: 20px;
    line-height: 1.3;
    color: $darkBlue-900;
    padding: 22px 32px 22px 86px;
    position: relative;
    transition-duration: 0.33s;

    &:focus,
    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2),
        0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
      color: $orange-900;
    }

    &:active {
      box-shadow: none;
      color: $darkBlue-900;
      background-color: $orange-900;
    }

    &::before {
      @extend %pos-background;
      width: 45px;
      height: 45px;
      top: 14px;
      left: 32px;
    }

    &:hover::before {
      @extend %hover-color;
    }

    &:active::before {
      @extend %active-color;
    }

    &--burger::before {
      background-image: url('../images/menu/icons/burger.svg');

    }

    &--pizza::before {
      background-image: url('../images/menu/icons/pizza.svg');

    }

    &--sandwich::before {
      background-image: url('../images/menu/icons/sandwich.svg');
    }

    &--asia::before {
      background-image: url('../images/menu/icons/asia.svg');
    }

    &--dish::before {
      background-image: url('../images/menu/icons/dish.svg');
    }
  }

  &__filter:not(:last-child) {
    margin-right: 20px;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding-bottom: 60px;
  }

  &__item {
    width: 210px;
    padding: 20px 15px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $silver-200;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }
  }
}

.features {
  margin-bottom: 120px;

  &__inner {
    display: grid;
    grid-template-columns: 440px 470px;
    grid-column-gap: 120px;
    justify-content: center;
    align-items: center;
  }

  &__bg {
    width: 440px;
    height: 585px;
    @extend %pos-background;
    position: static;
  }

  &__content {
    display: grid;
    justify-items: start;
    grid-row-gap: 30px;
    max-width: 470px;

    & p {
      opacity: 0.9;
      @include line-clamp(3);
    }
  }

  &__title {
    max-width: 450px;
    @include line-clamp(2);
  }

  &__list {
    display: grid;
    justify-items: start;
    grid-row-gap: 20px;
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    color: $darkBlue-900;
    padding-left: 65px;
    position: relative;

    &--time::before,
    &--delivery::before,
    &--resturent::before {
      @extend %pos-background;
      width: 35px;
      height: 35px;
      top: 0;
      left: 0;
    }

    &--time::before {
      background-image: url('../images/features/icons/time.svg');
    }

    &--delivery::before {
      background-image: url('../images/features/icons/delivery.svg');
    }

    &--resturent::before {
      background-image: url('../images/features/icons/resturent.svg');
    }
  }

  &__btn {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
}

.restorant {
  text-align: center;
  margin-bottom: 120px;

  &__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;
    margin-right: 12px;
    margin-bottom: 45px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: start;
  }

  &__item {
    padding-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition-duration: 0.5s;

    &:hover {
      box-shadow: 0 3px 15px rgba(255, 104, 56, 0.5);
    }
  }

  &__photo {
    margin-bottom: 15px;
  }

  &__name,
  &__inner {
    padding: 0 20px;
  }

  &__name {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 400;
    max-width: 340px;
    @include line-clamp(1);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__time {
    padding-left: 30px;
    font-size: 18px;
    line-height: 1.67;
    position: relative;

    &::before {
      @extend %pos-background;
      width: 20px;
      height: 20px;
      left: 0;
      transform: translateY(20%);
      background-image: url('../images/restorant/icons/timer.svg');
    }

  }

  &__btn {
    width: 80px;
    height: 33px;
    border-radius: 20px;
    position: relative;
    transition-duration: 0.4s;

    &:focus,
    &:hover,
    &:active {
      border-radius: 20px;
    }

    &:hover {
      background-color: #FFF;
    }

    &:active {
      background-color: $orange-100;
    }

    &::before {
      @extend %pos-background;
      width: 14px;
      height: 12px;
      left: 50%;
      transform: translateX(-45%);
      background-image: url('../images/restorant/icons/vector.svg');
      transition-duration: 0.4s;
    }

    &:focus::before,
    &:hover::before,
    &:active::before {
      @extend %hover-color;
    }

    &:hover::before {
      transform: translateX(90%);
    }

  }
}

.testimonials {
  text-align: center;
  // padding-bottom для dots слайдов
  padding-bottom: 82px;
  margin-bottom: 115px;

  &__title {
    margin-bottom: 45px;
  }

  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 300px 650px auto;
    grid-column-gap: 40px;
    text-align: start;
  }

  &__photo {
    grid-column-start: 2;
    border-radius: 50%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }

  &__text {
    margin-bottom: 30px;
    position: relative;
    font-weight: 400;
    font-style: italic;

    &::before,
    &::after {
      @extend %pos-background;
      width: 24px;
      height: 20px;
    }

    &::before {
      background-image: url('../images/testimonials/icons/before.svg');
      top: 0;
      left: -40px;
    }

    &::after {
      background-image: url('../images/testimonials/icons/after.svg');
      bottom: 0;
      right: -40px;
    }

  }

  &__name {
    line-height: 1.3;
    color: $orange-900;
    margin-bottom: 15px;
  }

  &__job {
    font-size: 14px;
    line-height: 1.3;
  }
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;

  &__inner {
    max-width: 538px;
    // margin-right из за того что я не ограничивал в контейнер, а сделал через флексы justify-content: center; и разделил по середине маржином. Так хорошо попадает в РР
    margin-right: 65px;

    & p {
      margin-bottom: 30px;
      @include line-clamp(3);
    }
  }

  &__title {
    margin-bottom: 45px;
  }

  &__icons {
    display: flex;
  }

  &__icon {
    border-radius: 7px;
    cursor: pointer;
    transition-duration: 0.3s;
    position: relative;
    height: 40px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &--appstore::before,
    &--googleplay::before {
      @extend %pos-background;
      width: 120px;
      height: 40px;
    }

    &--appstore::before {
      background-image: url('../images/app/icons/store-AppStore.svg');
    }

    &--googleplay::before {
      background-image: url('../images/app/icons/store-GooglePlay.svg');
      width: 135px;
    }

    &:not(:last-child) {
      margin-right: 150px;
    }
  }

  &__bg {
    width: 570px;
    height: 380px;
    @extend %pos-background;
    position: static;
  }
}

.footer {
  &__top {
    display: grid;
    // Гридами потому что хочу попрактиковать их, + я назвал grid-areas я видел на мобильной версии нужно сменить поряд отображения и думаю так будет проще сделать. А именно: сейчас 'top-inner''top-items''top-contact', потом там идет 'top-inner''top-contact''top-items'
    grid-template-areas: 'top-inner''top-items''top-contact';
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 70px;
    margin-bottom: 60px;
  }

  &__inner {
    grid-area: 'top-inner';
  }

  &__email {
    display: block;
    background-color: #FFFFFF;
    border: 1px solid $gray;
    border-radius: 5px;
    width: 200px;
    height: 44px;
    font-size: 14px;
    line-height: 1.3;
    color: $gray;
    opacity: 0.9;
    padding-left: 15px;
    transition-duration: 0.2s;
    margin: 30px 0 12px;
    // не понял, можешь повторить? что с этим маржином и как нужно поступить тут?? то что сверху в низ это знаю, а как именно тут ? ипочему категорично не так, на что это влияет ?

    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
      outline: none;
    }

    &:hover {
      box-shadow: none;
      color: $dark;
    }
  }

  &__btn {
    & {
      position: relative;
      width: 200px;
      height: 44px;
      border-radius: 5px;
      padding-left: 65px;
    }

    &::before {
      @extend %pos-background;
      width: 17px;
      height: 17px;
      background-image: url('../images/footer_icons/send-btn.svg');
      left: 40px;
    }

    &:hover::before,
    &:active::before,
    &:hover::before {
      @extend %hover-color;
    }

    &:hover {
      background-color: #FFF;
    }
  }

  &__items {
    grid-area: 'top-items';
    display: grid;
    grid-template-columns: minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
    grid-template-rows: repeat(4, auto) auto;
    grid-row-gap: 10px;
    grid-column-gap: 69px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;
  }

  &__info {
    opacity: 1;
    color: $dark;
  }

  &__link {
    transition-duration: 0.35s;

    &:hover {
      color: $orange-900;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
  }

  &__contact {
    grid-area: 'top-contact';
    position: relative;
    display: grid;
    grid-row-gap: 15px;
    margin-right: 75px;
  }

  &__item {
    padding-left: 30px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.01em;

    &--location,
    &--phone,
    &--email {
      &:hover {
        color: $orange-900;
      }

      &:active {
        text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      }

      &::before {
        @extend %pos-background;
        width: 25px;
        height: 25px;
        left: 0;
      }
    }

    &--location::before {
      background-image: url('../images/footer_icons/location.svg');
      top: 4px;
    }

    &--phone::before {
      background-image: url('../images/footer_icons/calling.svg');
      top: 50px;
    }

    &--email::before {
      background-image: url('../images/footer_icons/message.svg');
      top: 97px;
    }
  }

  &__bottom {
    padding: 30px 0;
    border-top: 1px solid rgba(194, 194, 194, 0.2);
    text-align: center;
    font-size: 14px;
    line-height: 1;
  }
}

.mixitup-control-active {

  &:focus,
  &:active {
    background-color: $orange-900;
  }

  &:focus {
    transition-duration: 0.4s;
    box-shadow: none;
  }

  &:hover {
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:active {
    box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
  }
}